<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="https://cdn.plyr.io/3.5.3/plyr.css", rel="stylesheet")
    script(src="https://cdn.plyr.io/3.5.3/plyr.js")

  body
    video#player(controls)
      source(src='../'+ movie type=movieType)
      track(src=subtitle label="Korean" kind="subtitles" srclang="ko" default)
    script
      | var player = new Plyr('#player')